# node_modules e dependências
node_modules/
**/node_modules/

# arquivos sensíveis
.env

# logs e cache
*.log
npm-debug.log*
.vite/
dist/
build/
coverage/

# editor e sistema
.vscode/
.DS_Store
Thumbs.db

# SQL Server local
*.mdf
*.ldf
